<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <title>home</title>
  </head>
  <body>
  
    <section class="pictursRouts">
      <div class="clothink pic" routerLink="/clothink">Clothink</div>
      <div class="Closet pic" routerLink="/my-closet">My Closet</div>
      <div class="add pic" routerLink="/add-cloth">Add</div>
      <div class="new-outfit pic" routerLink="/outfit">Outfits</div>
     
      <!-- <div id="favorite" routerLink="favorite">Favorite</div> -->
      <!-- <div id="donate" routerLink="donate">Donate</div> -->
    </section>
    
  </body>
</html>

<!-- <form>
    <input type="text" placeholder="Email" name="email"> 
    <p></p>
    <input type="password" placeholder="Password" name="password">
    <p></p>
    <a id="forget" routerLink="forget">Forget your password?</a> 
    <p></p>           
    <input type="button" name="btnLogIn" value="LogIn">
    <p></p>
    <a id="signIn" routerLink="signIn"> Not on clothink?</a>     
    <p></p>      
    </form> -->

<!-- <div class="leftIcon"></div> -->
<!-- <img src="/src/assets/icons/left-arrow.png" alt=""> -->
