<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>footer</title>
</head>
<body>
  <footer>
      <div class="item" routerLink="home">
          <!-- <div class="iconPic"></div> -->
          <i class="fa fa-home icon"></i>
          <span class="iconText">home</span>
      </div>
    <div class="item" routerLink="my-closet">
        <!-- <div class="iconPic"></div> -->
        <!-- <div class="closet iconimg icon"></div> -->
        <!-- <i class="fa-solid fa-clothes-hanger icon"></i>     -->
        <i class="fa-solid fa-door-closed icon"></i> 
        <span class="iconText">my closet</span>
    </div>
    <div class="item" routerLink="add-cloth">
        <!-- <div class="iconPic"></div> -->
        <i class="fa fa-plus  icon"></i>
        <span class="iconText">new cloth</span>
    </div>
    <div class="item"routerLink="outfit">
        <!-- <div class="iconPic"></div> -->
        <!-- <div class="outfit iconimg"></div> -->
        <i class="fa-solid fa-shirt icon"></i>
        <!-- <img src="/src/assets/new/iconClothink.jpg" alt=""> -->
        <span class="iconText">outfit</span>
    </div>
    <div class="item"routerLink="favorite">
        <!-- <div class="iconPic"></div> -->
        <!-- <i class="fa-thin fa-shirt icon"></i> -->
        <i class="fa fa-heart-o  icon"></i>
        <span class="iconText">favorite</span>
    </div>
  </footer>  
</body>
</html>
