body{text-align: center;}
.clothes_container {
    margin-top: 1rem;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    justify-items: center;
    width: 100%;
    /* overflow: scroll; */
  }
  .cloth_box {
    background-color: white;
    width: 40%;
    height: 180px;
    border: none;
    box-shadow: grey 5px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgb(8 8 8 / 20%), 0 6px 20px 0 rgb(5 5 5 / 19%);
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .btn{
      margin-top: 2rem;
  }