<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my-closet</title>
    <!--  icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="clothes_container">
        <div
        class="cloth_box"
        *ngFor="let s of clothingService.clothinkLookForClothinkComponent; index as myIndex"
        [style.background-image]="'url(' + s.ImageLink + ')'"
      >
          <i  class="fa icon"
          ></i>
     <i class="fa fa-times icon" (click)="deleteCloth()"></i>
     <!-- <i class="fa fa-times icon"></i> -->

      </div>
    </div>
    <button class="grayBtn btn" (click)="newOutfit()">new outfit</button>
    <!-- <button class="grayBtn btn" (click)="saveOutfit()">new outfit</button> -->

  </body>
</html>
